include README.md
include INSTRUCTION.md
include LICENSE
include requirements.txt
include category_pairs.yaml
include app.py

recursive-include templates *
recursive-include static *
recursive-include core *

# Включаем только основную модель
include model/model_clashmark.pt

# Исключаем временные файлы и обучающие данные
exclude Обучение/
exclude temp_uploads/
exclude analysis_session_*/
exclude train_session_*/
exclude __pycache__/
exclude *.pyc
exclude *.pyo
exclude *.pyd
exclude *.log
exclude settings.json
exclude .DS_Store
exclude Thumbs.db 